.button {
    border: 1px solid black;
    flex-direction:column;
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    height: 20px;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    
}
.top{
    border: 1px solid black;
    margin:30px;
    width:400px;
    height: auto;
    text-align: center;
}

